/* Google Fonts Imported  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #252525;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
}

/* Profile Section  */
.profile-section {
  background-color: #333333;
  max-height: 752px;
  box-shadow: 0px 20px 40px 0px #1e1e1e1a;
  padding: 2rem 1rem 1rem 2rem;
}

.profile-detail > h4 {
  font-size: 28px;
  line-height: 42px;
}

.social-icon > i {
  font-size: 26px;
  margin-right: 1.5rem;
  cursor: pointer;
}

.profile-contact > h4 {
  line-height: 24px;
}

/* Space Between  */
.space-btw {
  margin: 0 -1rem;
}


/* User Exapnd Detail Section  */
.expand-detail {
  background-color: #333333;
  box-shadow: 0px 20px 40px 0px #1e1e1e1a;
  padding: 2rem 0.5rem 1rem 2rem;
}

/* Work Experience  */

.work-exp > div > h6 > span {
  font-weight: lighter;
}

.work-exp > div > p {
  font-weight: normal;
}

/* Education  */

.education> div > h6 > span {
  font-weight: lighter;
}

.education > div > p  {
  font-weight: normal;
}


/* Skils  */
.skill > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
}


.skill-icon-container > i {
  color: #f8835b;
}

/* Article  */

.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.article > section > p {
  font-weight: normal;
}


.article > section > img {
  margin: 16px 0;
}

@media screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem;
  }
  .expand-detail {
    margin-top: 1rem;
    padding: 2rem 0.5rem 1rem 1.25rem;
  }
  .profile-section {
    background-color: #333333;
    max-height: 752px;
    box-shadow: 0px 20px 40px 0px #1e1e1e1a;
    padding: 2rem 1rem 1rem 1.25rem;
  }
}


@media screen and (max-width: 1200px) {
  .article {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }
}


@media screen and (max-width: 1400px) {
  .profile-btn {
    display: flex;
    flex-direction: column;
  }
  .btn1 {
    margin-bottom: 1rem;
  }
}